.tasks{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 6rem;
}
.task-details p{
    width: 250px;
    text-align: center;
}

.task-details {
  

    padding: 2px 16px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    
}
.task-details:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }